# 1.

database is the collection of data structured data which is stored electronically in acomputer system.database is maneged by a database manegment system(DBMS)

SQL stands for stuctured query language these are called as relational databse

NO-SQL standas for not only structured query language this is a non-relational database

SQL has fixed schema

NO-SQL has hynamic schema

SQL is horizontally scalable

NO-SQL is vertically scalable

SQL is best for complex querys

NO-SQL is not best for complex querys

SQL=[MYSQL,MSSQL,DB2]

NO-SQL=[mangoDB,cassendra]

# 2.

DDL stands for data defination language.it is used to do data manipulation in the database like create ,delate and modefy the database

CREATE- this command is used to create database and table

DROP- this command is used to remove database and table

ALTER- this command is used to modify the data base it also contains lots of sub commands

TRUNCATE-this command is used to remove whole datafrom database and table with completely removing the the database and table. it does not used with the whrere clause like DELETE

# 3.

DML standas for data manipulation language

INSERT- this command is used to enter data in the databse.

UPDATE- this command is used to modify allready written or assigned valuse and datatypes

DELETE- this command is used to delete the single or multiple values from the table this is used with WHERE clause to delete some specific data

# 4.

DQL stands for data query language

SELECT- this command is used to extract data from database.this command uses diffrent type of clause like WHERE,IN,BETWEEN to extract specific data

# 5.

Primery key:

A primary key generally focuses on the uniqueness of the table

Table allows only one primary key.

The primary key doesn’t allow null values

It can identify the record uniquely in the database table.

In the primary key, the value cannot be removed from the parent table.

Foreign key:

A foreign key is generally used to build a relationship between the two tables.

Tables can allow more than one foreign key.

Foreign key accepts multiple null values.

A foreign key is a field in the table that is the primary key in another table.

In this, the value can be deleted from the child table.

# 6.

import mysql.connector

mydb = mysql.connector.connect(
    
  host="localhost",
    
  user="abc",
    
  password="password"
    
)

print(mydb)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    
  print(x)

The execute () method helps us to execute the query and return records according to the query

 allows us to iterate through our database using a cursor, which will only execute a single query

# 7.

In [ ]:
1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.
    

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.
    

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.
    

4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.
    

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.
    

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.
    

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.