# Q1. Create a function which will take a list as an argument and return the product of all the numbers
after creating a flat list.
Use the below-given list as an argument for your function.
list1 = [1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, {1:34, "key2": [55, 67, 78, 89], 4: (45,
22, 61, 34)}, [56, 'data science'], 'Machine Learning']

In [22]:
list1 = [1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, {1:34, "key2": [55, 67, 78, 89], 4: (45, 22, 61, 34)}, [56, 'data science'], 'Machine Learning']

In [62]:
l=[]
def extract(l1):
    for i in l1:
        if type(i)==int:
            l.append(i)
        elif type(i)==bool or type(i)==str:
            pass
        elif type(i)==dict:
            for x in list(i.keys()):
                if type(x)==int:
                    l.append(x)
                else :
                    pass
            for x in list(i.values()):
                if type(x)==int:
                    l.append(x)
                else :
                    for y in x:
                        l.append(y)
        else :
            for j in i:
                l.append(j)
    return l

In [63]:
flat_list=extract(list1)

In [64]:
print(flat_list)

[1, 2, 3, 4, 44, 55, 66, True, 34, 56, 78, 89, 34, 1, 2, 3, 1, 4, 34, 55, 67, 78, 89, 45, 22, 61, 34, 56, 'data science']

In [65]:
result=1
for i in l:
    if type(i)==int:
        result=result*i
print(result)

4134711838987085478833841242112000

# 2.

In [69]:
s="I want to become a Data Scientist."
s1=s.lower()
s2=(((s1.replace("a","z")).replace("b","y")).replace("c","z")).replace(" ","$")
s2

'i$wznt$to$yezome$z$dztz$szientist.'